:root {
  --max-width: 100ch;
  --header-height: 60px;
  --footer-height: 50px;
  --border-color: #e2e2e2;

  /* Base unit for spacing */
  --space-unit: 0.25rem; /* 4px at default font size */

  /* Spacing scale */
  --space-xs: calc(var(--space-unit) * 1); /* 0.25rem / 4px */
  --space-sm: calc(var(--space-unit) * 2); /* 0.5rem  / 8px */
  --space-md: calc(var(--space-unit) * 4); /* 1rem    / 16px */
  --space-lg: calc(var(--space-unit) * 6); /* 1.5rem  / 24px */
  --space-xl: calc(var(--space-unit) * 8); /* 2rem    / 32px */

  /* Common property values */
  --border-radius: var(--space-xs);
  --gap: var(--space-md);
  --padding: var(--space-md);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0 var(--padding);
  line-height: 1.5;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  min-height: 100vh;
  max-width: var(--max-width);
}

header {
  grid-area: header;
  height: var(--header-height);
  padding: var(--padding) 0;
  border-bottom: 1px solid var(--border-color);
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: 'major-rail article minor-rail';
  grid-template-columns: minmax(150px, 1fr) minmax(0, 3fr) minmax(150px, 1fr);
  gap: var(--gap);
  padding: var(--padding) 0;
}

aside {
  padding: var(--padding);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

aside:first-of-type {
  grid-area: major-rail;
}

aside:last-of-type {
  grid-area: minor-rail;
}

article {
  grid-area: article;
  padding: var(--padding);
  border: 1px solid var(--border-color);
  border-radius: var(--space-xs);
  min-height: 50vh;
}

footer {
  grid-area: footer;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  margin-top: auto;
}

/* Tablet breakpoint */
@media (width <= 900px) {
  main {
    grid-template-areas:
      'major-rail'
      'article'
      'minor-rail';
    grid-template-columns: 1fr;
  }
}
